::selection {
    background-color: #000;
    color: #fff;
}

.button-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    letter-spacing: 2px;
}

.responsive-button {
    display: block;
    padding: 15px 30px;
    font-size: 30px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    text-align: center;
    transition: color 0.3s, border-color 0.3s, transform 0.2s;
}

.responsive-button:hover {
    color: red;
    border-color: red;
    transform: scale(1.05);
}

.responsive-button:active {
    color: yellow;
    border-color: yellow;
    transform: scale(0.95);
}

@font-face {
    font-family: 'Debatiment_Normal';
    src: url('./fonts/Debatiment_Normal.ttf') format('truetype');
}

body {
    background: black;
    color: white;
    font-family: 'Debatiment_Normal';
    text-align: center;
}

.body1, .body3 {
    display: inline-block;
    font-size: 60px;
    letter-spacing: 0px;
    margin-top: 20px;
}

.body2 {
    display: inline-block;
    font-size: 150px;
    letter-spacing: 5px;
    margin-top: 30px;
}

.body2 span {
    display: inline-block;
    animation: bounce 1.5s infinite ease-in-out, colorChange 5s infinite linear;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes colorChange {
    0% {
        color: #ff5733;
    }
    25% {
        color: #33ff57;
    }
    50% {
        color: #3357ff;
    }
    75% {
        color: #ff33a6;
    }
    100% {
        color: #ff5733;
    }
}

.glow-button {
    position: fixed;
    bottom: 40px;
    left: 50%;
    font-family: 'Debatiment_Normal';
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background-color: yellow;
    color: black;
    font-size: 20px;
    letter-spacing: 2px;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    transition: transform 0.2s, box-shadow 0.3s, border-color 0.3s;
}

.glow-button:hover {
    transform: scale(1.2);
    box-shadow: 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow;
}

.glow-button:active {
    transform: scale(1);
    box-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
}

body.color-inverted .responsive-button {
    border-color: black;
    color: black;
    background-color: white;
    transition: color 0.3s, border-color 0.3s, transform 0.2s;
}

body.color-inverted .responsive-button:hover {
    color: red;
    border-color: red;
    transform: scale(1.05);
}

body.color-inverted .responsive-button:active {
    color: yellow;
    border-color: yellow;
    transform: scale(0.95);
}

body.color-inverted .glow-button {
    border-color: black;
    background-color: white;
    color: black;
}
